<div style="padding: 60px">
  <p style="margin-bottom: 25px;font-family: 'Nunito', cursive;font-size: 40px;font-weight: bold">About</p>
<div class="ui two column stackable grid">
  <div class="column">
    <div>
      <h3 class="ui header" style="text-decoration: underline">Developer Contact</h3>
      <h4 class="ui header">
        <i class="user icon"></i>
        Prem Kumar Yadav
      </h4>
      <h5 class="ui header">
        <i class="envelope icon"></i>
        premk378@gmail.com
      </h5>
      <h5 class="ui header">
        <i class="phone icon"></i>
        7548904979
      </h5>
    </div>
  </div>
  <div class="column">
    <h3 class="ui header" style="text-decoration: underline">Data Provider</h3>
    <h4 class="ui header">
      News : <a href="https://newsapi.org/">NewsAPI</a>
    </h4>
    <h4 class="ui header">
      Real Time Stats : <a href="https://github.com/novelcovid/api">NovelCOVID API</a>
    </h4>
    <h4 class="ui header">
      Charts : <a href="https://www.apexcharts.com/">Apex Charts</a>
    </h4>
  </div>
</div>
</div>
